.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.box__kpubi {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 1600px;
  min-width: 0;
}
.box__kpubi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box__kpubi > :global(.__wab_flex-container) > *,
.box__kpubi > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.section__ehy7B:global(.__wab_instance) {
  position: relative;
}
.box__x91P {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__x91P > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__x91P > :global(.__wab_flex-container) > *,
.box__x91P > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__x91P {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__x91P > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__x91P > :global(.__wab_flex-container) > *,
  .box__x91P > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.box__bCpxi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.box__bCpxi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.box__bCpxi > :global(.__wab_flex-container) > *,
.box__bCpxi > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__bCpxi {
    width: 100%;
    min-width: 0;
  }
}
.box__hyz1J {
  position: relative;
  font-size: 32px;
  font-weight: 700;
}
.box__fvphv {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__tYxrt:global(.__wab_instance) {
  position: relative;
}
.svg__nrAqr {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__dWdK3 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___4TiY7:global(.__wab_instance) {
  position: relative;
}
.svg__f3JcV {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg___1KAo6 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___9Czg:global(.__wab_instance) {
  position: relative;
}
.svg__bUaDv {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__dLIu {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.box__yuUmd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__yuUmd {
    width: 100%;
    min-width: 0;
  }
}
.img__rwQbb {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__sMu2N {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.box__zDcV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.box___1TWGx {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: 0px;
  top: 50%;
  height: 50%;
  width: 100%;
  background: rgb(5, 5, 5);
}
.section___7KwzY:global(.__wab_instance) {
  position: relative;
}
.box__iSg3O {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__iSg3O > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box__iSg3O > :global(.__wab_flex-container) > *,
.box__iSg3O > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard___4TL9F:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__zNKoA {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: dOdsk8bFms-Qvv */;
}
.svg__giXUh {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__psdKw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__pTwqn {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: dOdsk8bFms-Qvv */;
}
.svg___4LR {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__t3PPo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__x26OT {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: dOdsk8bFms-Qvv */;
}
.svg__oIu8V {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__bdGks:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__zRuj0 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: dOdsk8bFms-Qvv */;
}
.svg__sjoDb {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___1R1X:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___3BdHc {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: dOdsk8bFms-Qvv */;
}
.svg___7GcNd {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__tiQgP:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__xoeIx {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: dOdsk8bFms-Qvv */;
}
.svg__yQr6X {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.box___3TPqf {
  display: block;
  position: absolute;
  left: 50%;
  top: 95%;
  width: 2px;
  height: 88px;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: ecuaBt0YdQofCW */;
}
.section__xWLfv:global(.__wab_instance) {
  position: relative;
}
.box__jdw9Y {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__jdw9Y > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__jdw9Y > :global(.__wab_flex-container) > *,
.box__jdw9Y > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__zYduk {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__nzQj {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__s7Jj {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__vSmB9 {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__luabg {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
