.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.box___38D8D {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 1600px;
  min-width: 0;
}
.box___38D8D > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box___38D8D > :global(.__wab_flex-container) > *,
.box___38D8D > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.section__gm5RH:global(.__wab_instance) {
  position: relative;
}
.box__ojWtz {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__ojWtz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__ojWtz > :global(.__wab_flex-container) > *,
.box__ojWtz > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__ojWtz {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__ojWtz > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__ojWtz > :global(.__wab_flex-container) > *,
  .box__ojWtz > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.plan__i7CZc:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box__lQpm6 {
  font-size: 48px;
}
.box__iL6Ua {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__iL6Ua > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__iL6Ua > :global(.__wab_flex-container) > *,
.box__iL6Ua > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__dWbf5:global(.__wab_instance) {
  position: relative;
}
.bullet__ezPo:global(.__wab_instance) {
  position: relative;
}
.bullet___1WRv7:global(.__wab_instance) {
  position: relative;
}
.plan__btJHk:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box___6EMs {
  font-size: 48px;
}
.box___4PWzv {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box___4PWzv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box___4PWzv > :global(.__wab_flex-container) > *,
.box___4PWzv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet___7TM5Y:global(.__wab_instance) {
  position: relative;
}
.bullet___5CRbf:global(.__wab_instance) {
  position: relative;
}
.bullet__ugkDm:global(.__wab_instance) {
  position: relative;
}
.bullet__z86K2:global(.__wab_instance) {
  position: relative;
}
.plan__oMaPm:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box__wa4Ab {
  font-size: 48px;
}
.box__ui9Pf {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__ui9Pf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__ui9Pf > :global(.__wab_flex-container) > *,
.box__ui9Pf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__cKrPs:global(.__wab_instance) {
  position: relative;
}
.bullet___9HhzF:global(.__wab_instance) {
  position: relative;
}
.bullet__nIx9W:global(.__wab_instance) {
  position: relative;
}
.section__cKhLe:global(.__wab_instance) {
  position: relative;
}
.faq___6RZel:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__jr10W:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__plpEu:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
