.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box__eXrM {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: ecuaBt0YdQofCW */;
}
.box__xwJH {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__xwJH > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box__xwJH > :global(.__wab_flex-container) > *,
.box__xwJH > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__xwJH {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__xwJH > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__xwJH > :global(.__wab_flex-container) > *,
  .box__xwJH > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__hl1Uf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.box__hl1Uf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__hl1Uf > :global(.__wab_flex-container) > *,
.box__hl1Uf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.iconLink__s3S6W:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__rcu4 {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.box__afl0Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___9JDs {
  color: #535353 /* plasmic-token: D4t1RYEK7aKK56 */;
}
.root .link___9JDs:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__rdLwc {
  position: relative;
}
.link__wtr2P {
  position: relative;
  color: #535353 /* plasmic-token: D4t1RYEK7aKK56 */;
}
.root .link__wtr2P:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__iqwtT {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__iqwtT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__iqwtT > :global(.__wab_flex-container) > *,
.box__iqwtT > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__iqwtT {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__iqwtT > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__iqwtT > :global(.__wab_flex-container) > *,
  .box__iqwtT > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__iNbC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__iNbC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__iNbC > :global(.__wab_flex-container) > *,
.box__iNbC > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__yiRno {
  position: relative;
  font-weight: 700;
}
.link__sQqsx {
  position: relative;
  color: #535353 /* plasmic-token: D4t1RYEK7aKK56 */;
}
.root .link__sQqsx:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__soJgz {
  position: relative;
  color: #535353 /* plasmic-token: D4t1RYEK7aKK56 */;
}
.root .link__soJgz:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__ieen {
  position: relative;
  color: #535353 /* plasmic-token: D4t1RYEK7aKK56 */;
}
.root .link__ieen:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__k7C1J {
  position: relative;
  color: #535353 /* plasmic-token: D4t1RYEK7aKK56 */;
}
.root .link__k7C1J:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__qf37R {
  position: relative;
  color: #535353 /* plasmic-token: D4t1RYEK7aKK56 */;
}
.root .link__qf37R:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__gBxr1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__gBxr1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__gBxr1 > :global(.__wab_flex-container) > *,
.box__gBxr1 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__e5IYa {
  position: relative;
  font-weight: 700;
}
.link__iP6M1 {
  position: relative;
  color: #535353 /* plasmic-token: D4t1RYEK7aKK56 */;
}
.root .link__iP6M1:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__gjPkT {
  position: relative;
  color: #535353 /* plasmic-token: D4t1RYEK7aKK56 */;
}
.root .link__gjPkT:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__kpskp {
  position: relative;
  color: #535353 /* plasmic-token: D4t1RYEK7aKK56 */;
}
.root .link__kpskp:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__lYvVw {
  position: relative;
  color: #535353 /* plasmic-token: D4t1RYEK7aKK56 */;
}
.root .link__lYvVw:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__iAHa5 {
  position: relative;
  color: #535353 /* plasmic-token: D4t1RYEK7aKK56 */;
}
.root .link__iAHa5:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__qslE {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__qslE > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__qslE > :global(.__wab_flex-container) > *,
.box__qslE > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__rbzm2 {
  position: relative;
  font-weight: 700;
}
.link__kt59X {
  position: relative;
  color: #535353 /* plasmic-token: D4t1RYEK7aKK56 */;
}
.root .link__kt59X:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__blwwf {
  position: relative;
  color: #535353 /* plasmic-token: D4t1RYEK7aKK56 */;
}
.root .link__blwwf:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__unxuK {
  position: relative;
  color: #535353 /* plasmic-token: D4t1RYEK7aKK56 */;
}
.root .link__unxuK:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__bgc8I {
  position: relative;
  color: #535353 /* plasmic-token: D4t1RYEK7aKK56 */;
}
.root .link__bgc8I:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___6WazU {
  position: relative;
  color: #535353 /* plasmic-token: D4t1RYEK7aKK56 */;
}
.root .link___6WazU:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__cR85 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.box__cR85 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__cR85 > :global(.__wab_flex-container) > *,
.box__cR85 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box___3FkXw {
  position: relative;
  font-weight: 700;
}
.box__dFmI {
  position: relative;
}
.box__cznhe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid rgb(228, 230, 235) /* plasmic-token: 4QM1pZKqI */;
}
.textbox {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  min-width: 0;
  border-width: 0px;
}
.button {
  position: relative;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-left-style: solid;
}
.box___9OJ7I {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: ecuaBt0YdQofCW */;
}
.box__o465M {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__o465M {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__o465M > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__o465M > :global(.__wab_flex-container) > *,
  .box__o465M > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.box__u9Ht {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___5W7Cg {
  position: relative;
  color: #535353 /* plasmic-token: D4t1RYEK7aKK56 */;
  height: auto;
}
.root .link___5W7Cg:hover {
  text-decoration-line: underline;
}
.link__nDmZ {
  position: relative;
  color: #535353 /* plasmic-token: D4t1RYEK7aKK56 */;
}
.root .link__nDmZ:hover {
  text-decoration-line: underline;
}
.box__m68Fr {
  position: relative;
  height: auto;
  width: auto;
  display: inline-block;
}
.box__lAkW {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__lAkW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__lAkW > :global(.__wab_flex-container) > *,
.box__lAkW > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.iconLink__dfsMc:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__vDmNu {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__vDmNu:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__ggO1B:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ajUzn {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__ajUzn:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__rvXKw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__nb6V {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__nb6V:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
