.root:global(.__wab_instance) {
  position: relative;
}
.box___3QEid {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box__zFr0 {
  display: flex;
  flex-direction: column;
}
.box__zFr0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__zFr0 > :global(.__wab_flex-container) > *,
.box__zFr0 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.slotName {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.box__vgpyx {
  font-size: 48px;
}
.box__pLttj {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__pLttj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__pLttj > :global(.__wab_flex-container) > *,
.box__pLttj > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet___50N7R:global(.__wab_instance) {
  position: relative;
}
.bullet__xePhB:global(.__wab_instance) {
  position: relative;
}
.bullet__ersKb:global(.__wab_instance) {
  position: relative;
}
.box__wrw4J {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(13px + 8px) !important;
}
.svg__adrIg {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
